@import url('https://fonts.googleapis.com/css?family=Orbitron');


/* .App-title {
  font-size: 1.5em;
} */

.App h1 {
  text-align: center;
}

body {
  font-family: 'Orbitron', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
